body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Telex', sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/8a/100m_women_Golden_League_2007_in_Zurich.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 8vmin;
  -webkit-text-stroke-width: 0.01vmin;
  -webkit-text-stroke-color: black;
} 

.top-bar {
  font-size: 3vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(177, 174, 174);
  padding-bottom: 2.5%; 
  padding-top: 2.5%;
  list-style-type: none;
  align-items: center;
}

.nav-item:hover {
  color: rgb(255, 0, 0)
}

.one {
  background-color: rgb(255, 255, 108);
}

.gallery {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.gallery::-webkit-scrollbar {
  display: none;
  }

.pic {
  margin-right: 5vw;
  margin-bottom: 5vw;
  width: 250px;
  height: 250px;
  clip:rect(0px,60px,200px,0px);
}

.end-image {
  width: 100%;
  height: auto;
}

.one {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul.foot {
  display: flex;
  justify-content: space-between;
  list-style-type: none;

}
.principles {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p.des {
  font-size: 2vw;
}

/*round button tutorial from https://www.w3schools.com/howto/howto_css_social_media_buttons.asp*/
.fa {
  padding: 20px;
  font-size: 35px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background: rgb(84, 132, 236);
  color: white;
}

.fa-twitter {
  background: rgb(61, 170, 253);
  color: white;
}

.fa-instagram {
  background: linear-gradient(#dd32ff, #ffc420);
  color: white;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
}

/*https://www.w3schools.com/howto/howto_css_social_media_buttons.asp to learn to animate buttons*/

#join {
  border-radius: 2vmax;
  background-color: rgb(228, 22, 22); 
  color: rgb(255, 251, 0);
  padding: 2vmax 3.5vmax;
  text-align: center;
  font-size: 2vmax;
  font-family: 'Telex', sans-serif;
  transition-duration: 0.4s;
  box-shadow: 0 9px #999;
}

#join:hover {
  background-color: rgb(200, 19, 19);
  }

#join:active {
  background-color: rgb(194, 19, 19);
  box-shadow: 0 0.75vmax #666;
  transform: translateY(0.4vmax);
}

.CTA {
  display: flex;
  justify-content: center;
}

.subtitle {
  transition-duration: 0.6s;
  font-size: 5vmax;
}

.subtitle:hover {
  transform: scale(1.5) rotate(360deg);

}

@media only screen and (max-width: 640px) {
  .top-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(177, 174, 174);  list-style-type: none;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 4%;
  }
  
  .one {
    display: flex;
    flex-direction: column;
  }
  
  footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  }
}

